body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    overflow-x: hidden;
    margin: 0;
}

.wrapper {
    display: flex;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #343a40;
    color: #fff;
    transition: transform 0.3s ease;
    z-index: 999;
    overflow-y: auto;
}

#content {
    width: 100%;
    padding-left: 250px; /* Equal to sidebar width */
    transition: padding-left 0.3s ease;
}

.sidebar-header {
    padding: 20px;
}

.list-unstyled {
    padding: 20px 0;
    list-style: none;
}

.list-unstyled li a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
}

.list-unstyled li a:hover {
    background-color: #495057;
}

.header {
    background-color: #343a40;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    padding: 20px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: transparent;
    border: none;
    color: inherit;
    font: inherit;
    padding: 0;
}

.btn:focus {
    outline: none;
}

@media (max-width: 768px) {
    #sidebar {
        transform: translateX(-250px);
    }

    #sidebar.active {
        transform: translateX(0);
    }

    #content {
        padding-left: 0;
    }
}
